# /etc/exports: файл конфигурации NFS экспорта
#
# Формат:
# /путь/к/каталогу  IP_или_сеть(опции)
# Пример: /mnt/disk_sda1  192.168.0.0/24(rw,sync,no_subtree_check)

# Экспорты для всех дисков
{% for device in available_devices.stdout_lines %}
{% if not loop.index0 == 0 %}{% endif %}
{% set device_name = device %}
{% set size_cmd = 'if [ -e /dev/' + device + ' ]; then sudo blockdev --getsize64 /dev/' + device + ' | awk \'{printf "%.0f", $1/1024/1024/1024}\'; else echo "0"; fi' %}
{% set device_size_gb = lookup('pipe', size_cmd) | int | default(0) %}
{% set is_system_cmd = 'for mp in / /boot /var /home /swap.img; do if mountpoint -q $mp && findmnt -n -o SOURCE $mp | grep -q ' + device + '; then echo "system"; exit 0; fi; done; echo "not_system"' %}
{% set is_system = lookup('pipe', is_system_cmd) %}
{% if device_size_gb >= 4 and is_system == "not_system" and "loop" not in device and device_size_gb > 0 %}
/mnt/disk_{{ device }} *(rw,sync,no_subtree_check,no_root_squash,insecure)
{% endif %}
{% endfor %} 