[global]
   workgroup = WORKGROUP
   server string = Agger NFS/Samba Server
   log file = /var/log/samba/log.%m
   max log size = 1000
   logging = file
   panic action = /usr/share/samba/panic-action %d
   security = user
   map to guest = Bad User
   passdb backend = tdbsam
   socket options = TCP_NODELAY IPTOS_LOWDELAY SO_RCVBUF=65536 SO_SNDBUF=65536
   read raw = yes
   write raw = yes
   use sendfile = yes
   aio read size = 16384
   aio write size = 16384
   hosts allow = 127.0.0.1 192.168.0.0/24
   hosts deny = all
   oplocks = no
   level2 oplocks = no
   strict locking = no
   load printers = no
   printing = bsd
   printcap name = /dev/null
   disable spoolss = yes

[homes]
   comment = Home Directories
   browseable = no
   valid users = %S
   writable = yes

{% for disk in nfs_disks %}
[{{ disk.directory_name }}]
   comment = Shared Disk {{ disk.device }} ({{ disk.size }})
   path = {{ disk.mount_point }}
   browseable = yes
   guest ok = no
   read only = no
   create mask = 0755
   directory mask = 0755
   valid users = agger @users
{% endfor %}