# Настройки для NFS сервера
RPCNFSDCOUNT=8
RPCNFSDPRIORITY=0
RPCMOUNTDOPTS="--manage-gids --port 32767"
NEED_SVCGSSD=no
RPCSVCGSSDOPTS=""
RPCNFSDOPTS="--port 2049"

# Статические порты для сетевых экранов
STATDOPTS="--port 32765 --outgoing-port 32766"
LOCKD_TCPPORT=32768
LOCKD_UDPPORT=32768 