# Настройки для клиента NFS
NEED_STATD=yes
STATDOPTS="--port 32765 --outgoing-port 32766"
NEED_IDMAPD=yes

# Улучшенные настройки клиента
RPCNFSDOPTS=""
RPCMOUNTDOPTS="--manage-gids"
STATDOPTS="--port 32765"
NEED_SVCGSSD=no 