# Пароли для SSH-туннелирования
SSH_HOST_PASSWORD="your_ssh_host_password"

# Пароли для серверов в удаленной сети
SERVER_192_168_0_102_PASSWORD="server_102_password"
SERVER_192_168_0_106_PASSWORD="server_106_password"
SERVER_192_168_0_103_PASSWORD="server_103_password"

# Пароль для клиента (если требуется)
CLIENT_PASSWORD="client_password" 

DEFAULT_BORG_PASSPHRASE="пароль"