[defaults]
inventory = hosts
host_key_checking = False
retry_files_enabled = True
timeout = 30
pipelining = True
deprecation_warnings = False
command_warnings = False
remote_user = apper
ask_pass = False
stdout_callback = debug
ansible_python_interpreter = /usr/bin/python3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
