// Конфигурация приложения
const config = {
  // Базовые настройки
  server: {
    port: process.env.PORT || 6005,
    allowedOrigins: [
      'http://46.35.241.37:6001', 
      'http://localhost:6001',
      'https://iqbanana.online',
      'http://iqbanana.online'
    ]
  },
  
  // Версия API
  apiVersion: 'v1',
  
  // Пути к смонтированным дискам на веб-сервере
  disks: {
{% for disk in storage_disks %}
    '{{ disk.device | regex_replace('/dev/', 'disk_') }}': '{{ nfs_mount_base }}/{{ disk.mountpoint }}'{% if not loop.last %},{% endif %}
{% endfor %}
  }
};

module.exports = config; 