[Unit]
Description=NFS Watchdog Service
After=network.target rpcbind.service mount-nfs.service
Requires=rpcbind.service

[Service]
Type=oneshot
ExecStart=/home/apper/nfs-watchdog.sh
User=root
StandardOutput=journal

[Install]
WantedBy=multi-user.target 