[Unit]
Description=Монтирование NFS дисков
After=network-online.target
Wants=network-online.target
Requires=rpcbind.service
After=rpcbind.service

[Service]
Type=oneshot
ExecStart=/home/apper/mount-nfs.sh
RemainAfterExit=yes
User=root
TimeoutSec=180
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target 