[Unit]
Description=Сервис мониторинга NFS монтирований
After=network-online.target mount-nfs.service
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/home/apper/nfs-watchdog.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 