[defaults]
host_key_checking = False
inventory = inventory
forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 86400
callback_whitelist = profile_tasks, timer
stdout_callback = yaml
strategy = free
transport = smart
any_errors_fatal = False
internal_poll_interval = 0.001
display_skipped_hosts = False
display_ok_hosts = False
retry_files_enabled = False
force_handlers = False
timeout = 60
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
control_path_dir = /tmp
retries = 3
timeout = 30
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey,password -o GSSAPIAuthentication=no
transfer_method = smart
sftp_batch_mode = True

[colors]
verbose = bright blue
error = bright red
debug = bright gray
deprecate = bright purple
warning = bright yellow
ok = bright green
changed = bright yellow
diff_add = bright green
diff_remove = bright red
diff_lines = bright blue 